@using HabanMVC.ViewModels.Company;
  
@model List<WorkViewModel>


@foreach (var item in Model)
{
    <li class="work">
        <a href="" class="workname">@item.WorkName</a>
        <a href="" class="workplace">@item.WorkDistrict</a>
        <span class="date">@item.Date.ToString("M/d")</span>

        <div class="work_detail">
            <div class="workdesc">
                <span class="treatment">
                    @item.SalaryRange
                </span>
                <p>
                    @item.WorkContent
                </p>
            </div>

            <div class="btn_group">
                <a class="savework">
                    <svg xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" width="18"
                         height="19" viewBox="0 0 18 19" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M12.1149 3.50785C13.2819 3.50333 14.4019 3.96769 15.224 4.79689C16.046 5.62608 16.5014 6.75079 16.488 7.91895C16.4863 9.0375 16.0877 10.1191 15.3635 10.9708C15.3027 11.0442 15.2081 11.1429 15.0859 11.2621L14.8062 11.5265L14.4632 11.8375L13.8536 12.3729L12.673 13.3796L10.9548 14.81L9.43269 16.0573C9.17669 16.27 8.80573 16.27 8.54973 16.0573L6.55121 14.4162L5.30946 13.3796L4.35202 12.5656L3.71105 12.0078L3.17627 11.5265L2.89656 11.2621C2.7743 11.1429 2.67975 11.0442 2.61895 10.9708C1.89468 10.1191 1.49615 9.0375 1.49443 7.91895C1.48103 6.75079 1.93639 5.62608 2.75845 4.79689C3.58052 3.96769 4.70055 3.50333 5.86755 3.50785C6.84151 3.52766 7.77584 3.89764 8.49975 4.55019C8.75861 4.78069 9.14885 4.78069 9.4077 4.55019C10.0811 3.94342 10.9362 3.58142 11.8353 3.51777L12.1149 3.50785ZM12.0907 4.43834C11.405 4.44519 10.7428 4.6773 10.2014 5.09825L10.0256 5.24552C9.45261 5.75572 8.607 5.78761 7.9965 5.33807L7.87768 5.24175C7.31966 4.73874 6.59945 4.45354 5.86396 4.43845C4.94597 4.4349 4.06493 4.80018 3.41829 5.45243C2.77165 6.10468 2.41347 6.98938 2.42406 7.91751C2.42545 8.8155 2.74539 9.68382 3.33444 10.3767L3.3782 10.427L3.49882 10.553L3.75835 10.8023L4.10554 11.1184L4.53294 11.4955L5.21468 12.0828L6.66564 13.3033L8.99021 15.2165L10.4152 14.0499L11.6174 13.0526L12.6761 12.1606L13.2267 11.6884L13.845 11.1461L14.313 10.7177L14.4845 10.5511L14.6111 10.4188L14.6556 10.3676C15.237 9.68382 15.557 8.8155 15.5584 7.90826C15.569 6.98938 15.2108 6.10468 14.5641 5.45243C13.9672 4.85035 13.1706 4.4928 12.3267 4.44415L12.0907 4.43834Z"
                              fill="#FA1E50"></path>
                    </svg>
                    收藏職缺
                </a>
                <a href="" class="apply">蛤不快投</a>
            </div>

        </div>


    </li>
}
